<!DOCTYPE.html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Whine About it!</title>
  </head>
<body>
  <a href="/new">Whine about something!</a>
   <div>
   Top Whines!
    <%=@file%>
  </div>

</body>
</html>
