<!DOCTYPE.html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Whine About it!</title>
  </head>
<body>
<h1 class="Center-whine">Whine About it!</h1>
  <a href="/new">Whine about something!</a>
   <div class="top">
   Top Whines!
    <%=@file%>
  </div>

</body>
</html>
