<!DOCTYPE.html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Whine About it!</title>
  </head>
<body>
</body>
<form action='/whine' method='POST'>
  <input type='Text' name='title' size='' placeholder='Name it Something Clever....' >
  <input type='Text' name='whine' size='' placeholder='go ahead...complain...' >
  <button type='submit'>Whine about it!</button>
</form>

</html>
