<!DOCTYPE.html>
<html>
  <head>
    <link rel="stylesheet" href="../style.css">
    <title>Whine About it!</title>
  </head>
<body>
<h1 class="Center-whine">Whine About it!</h1>
<h2><%=@message%></h2>
<div class ="form_whine">
<form action='/whine' method='POST'>
  <label for="title">Subject</label>
  <input type='Text' name='title' size=50 placeholder='What you want to complain about....' >
  <label for "whine">Whine away!</label>
  <input type='Text' name='whine' size=50 placeholder='go ahead...complain...' >
  <button type='submit'>Whine about it!</button>
</form>
</div>
</body>
</html>
